  <div class="show_container">
    <div class="show_user_container">
      <%= link_to user_path(@idea.user.id) do %>
        <div class="create_user_img">
          <% if @idea.user.profile_image.identifier == "noimage.png" %>
            <%= image_tag(@idea.user.profile_image.identifier) %>
          <% elsif @idea.user.profile_image? %>
            <%= image_tag(@idea.user.profile_image.url) if @idea.user.profile_image && @idea.user.profile_image.url %>
          <% end %>
        </div>
        <div class="create_user_name">
          <%= @idea.user.name %>
        </div>
      <%end%>
    </div>
    <div class="show_title_container">
      <%= @idea.title %>
    </div>
    
    <div class="show_image_container">
    <%= image_tag(@idea.image.url) if @idea.image && @idea.image.url %>
    </div>
    <div class="content_container">
      <%= @idea.content.html_safe %>
    </div>
    <div class="favorite">
      <% if user_signed_in?%>
        <% unless @idea.user_id == current_user.id %>
          <% if @favorite.present? %>
            <%= link_to 'お気に入り解除', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to 'お気に入りする', favorites_path(idea_id: @idea.id), method: :post, class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="comments_container">
      <h4>コメント</h4>
      <div id= "comments_area">
        <%= render partial: 'comments/index', locals:{ comments: @comments } %>
      </div>
      <% if user_signed_in? %>
        <%= render partial: 'comments/form', locals: { comment: @comment, idea: @idea } %>
      <% end %>
    </div>
  </div>
