<%= form_with(model: @user, local: true) do |f| %>
    <div class="mypage_container">
    <div class="mypage_title_container">
    プロフィール変更
    </div>
        <div class="icon_name_container">
            <div class="mypage_icon">
                <% if @user.profile_image? %>
                    <% if @user.image? %>
                        <%= image_tag(current_user.profile_image.url, size: "100x100") if current_user.profile_image && current_user.profile_image.url %>
                    <% end %>
                    <%= f.file_field :profile_image %>
                <% else %>
                    <% if @user.image %>
                        <%= image_tag(current_user.image, size: "100x100") if current_user.image && current_user.image %>
                    <% end %>
                    <%= f.file_field :profile_image %>
                <% end %>
            </div>
            <div class="mypage_name">
                <%= f.text_field :name %>
                <%= f.text_field :email %>
            </div>
        </div>
        <div class="profile_submit_container">
            <div class="edit_profile">
                <%= f.text_area :profile %>
            </div>
            <div class="profile_edit_submit">
                <%= f.submit %>
            </div>
        </div>
    </div>
    </div>
<% end %>