<div class="my_account_container">
  <div class="my_account_image">
    <% if @user.profile_image.identifier == "noimage.png" %>
      <%= image_tag(@user.profile_image.identifier) %>
    <% elsif @user.profile_image? %>
      <%= image_tag(@user.profile_image.url) if @user.profile_image && @user.profile_image.url %>
    <% end %>
  </div>
  <div class="my_account_title_container">
    <%= current_user.name%>
  </div>
</div>
<div class="follow_container">
  <div class="follow_title_container">
    フォロワー
  </div>
  <% @user.followers.each do |user| %>
    <div class="follow_user_container">
      <div class="follow_user_image">
      <%= link_to user_path(user.id) do %>
        <% if user.profile_image? %>
          <%= image_tag(user.profile_image.url, size: "100x100") if user.profile_image && user.profile_image.url %>
        <% else %>
          <%= image_tag(user.image, size: "100x100") if user.image %>
        <% end %>
        <% end %>
      </div>
      <div class="follow_user_name_profile_container">
        <p><%= user.name.truncate(10)%></p>
        <% if user.profile? %>
          <%= user.profile.truncate(15) %>
        <% else %>
          <%= user.profile %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>