  <div class="about_container">
    <div class="about_article1">
      <div class="about_frame1">
        <p>ABOUT</p>
        <p class="about_s_text">-goodea!とは？-</p>
      </div>
    </div>
    <div class="about_article2">
      <div class="about_article_box1">
        <%= image_tag("about1.png", size: "350x350") %>
        <div class="about_box_text">
          <p>好きなキャラクターのグッズ欲しいけど</p>
          <p>欲しいデザインのグッズって中々無いよね</p>
        </div>
      </div>
    </div>
    <div class="about_article3">
      <div class="about_article_box2">
        <div class="about_box_text">
          <p>こういうデザインの推しのグッズがあったら</p>
          <p>絶対買うのになぁ</p>
        </div>
        <%= image_tag("about2.png", size: "350x350") %>
      </div>
    </div>
    <div class="about_article4">
      <p>こんな経験ありますか？</p>
    </div>
    <div class="about_article5">
      <%= image_tag("about5.png", size: "350x350") %>
      <div class="about_box3">
        <p>goodea!は</p>
        <p>アニメ・漫画・ゲーム作品の</p>
        <p>「こんなグッズあったら欲しい！」という</p>
        <p>アイデアの投稿・シェアができるサイトです</p>
      </div>
    </div>
    <div class="about_article6">
      <div class="about_frame2">
        <p>HISTORY</p>
        <p class="about_s_text">-goodea!をつくろうとしたきっかけ-</p>
      </div>
    </div>
    <div class="about_article7">
      <div class="about_box">
        <p>「こんなグッズあったら欲しい」は</p>
        <p class="about_s-text">ファンの望みであり</p>
        <p>「ファンが望む物を作りたい」という</p>
        <p class="about_s-text">製作サイドの目標でもあると思います。</p>
      </div>
    </div>
    <div class="about_article8">
        <%= image_tag("about4.png", size: "350x350") %>
      <div class="about_box4">
        <p>ファンも制作サイドも</p>
        <p>「お互いが幸せになれるような</p>
        <p>サービスを作りたい！」</p>
        <p>goodea!は</p>
        <p>そんな想いを込めて作ったサービスです。</p>
      </div>
    </div>
    <div class="about_article9">
      <div class="about_frame3">
        <p>MISSION</p>
        <p class="about_s_text">-goodea!が目指すもの-</p>
      </div>
    </div>
    <div class="about_article10">
      <%= image_tag("about3.png", size: "500x500") %>
      <div class="about_box5">
        <p>goodea!が目指すのは</p>
        <p>「多くのファンが欲しいと思う</p>
        <p>グッズアイデア」を</p>
        <p>制作側に知っていただき</p>
        <p>最終的には投稿されたアイデアの</p>
        <p>商品化が目標です。</p>
      </div>
    </div>
  </div>