<!DOCTYPE html>
<html>
  <head>
    <title>Goodea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/freezeframe@3.0.10/build/css/freezeframe_styles.min.css">
  <script type="text/javascript" src="https://unpkg.com/freezeframe@3.0.10/build/js/freezeframe.pkgd.min.js"></script>
    <%= tinymce_assets %>
    <script type="text/javascript">
      tinyMCE.init({
      selector: 'textarea.editor'
      language: "ja"
      });
    </script>
  </head>

  <body data-turbolinks="false">
  <div id="wrapper">
    <header>
      <div class="header_container">
        <div class="left_container">
          <div class="logo_image">
            <%= link_to image_tag('logo.png', class:'logo_image'),top_ideas_path %>
          </div>
          <div class="main_link_container">
            <% if user_signed_in? %>
              <div class="header_link">
                <%= link_to 'アイデア一覧', ideas_path %>
              </div>
              <div class="header_link">
                <%= link_to 'アイデア投稿', new_idea_path %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="right_container">
          <div class="search_container">
            <dl class="searchbox">
              <%= search_form_for @search, url: ideas_path do |f| %>
                <dt><%= f.text_field :tags_name_cont ,placeholder: '検索するタグ名を入力', id: "search-btn"%></dt>
                <dd><%= f.submit ("検索") , class: 'search-btn' %></dd>
              <% end %>
            </dl>
          </div>
            <% if user_signed_in? %>
              <div class="menu-trigger" href="#">
                <% if current_user.profile_image.identifier == "noimage.png" %>
                  <%= image_tag(current_user.profile_image.identifier) %>
                <% elsif current_user.profile_image? %>
                  <%= image_tag(current_user.profile_image.url) if current_user.profile_image && current_user.profile_image.url %>
                <% else %>
                  <%= image_tag("noimage.png") %>
                <% end %>
              </div>  
            <nav class= "user_nav">
              <div class="nav_img">
                <%= link_to user_path(current_user.id) do %>
                  <% if current_user.profile_image.identifier == "noimage.png" %>
                    <%= image_tag(current_user.profile_image.identifier) %>
                  <% elsif current_user.profile_image? %>
                    <%= image_tag(current_user.profile_image.url) if current_user.profile_image && current_user.profile_image.url %>
                  <% else %>
                    <%= image_tag("noimage.png") %>
                  <% end %>
                <% end %>
              </div>
              <div class="nav_username">
                <%= current_user.name%>
              </div>
              <div class="nav_following">
                <p><%= current_user.following.count%></p>
                フォロー中
              </div>
              <div class="nav_followers">
                <p><%= current_user.followers.count%></p>
                フォロワー
              </div>
              <div class="nav_link">
                <ul>
                  <li><%= link_to 'アイデア管理', my_idea_ideas_path(current_user.id) %></li>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                  <li><%= link_to "いいね一覧", favorite_user_path(current_user.id) %></li>
              </div>
            </nav>
            <% else %>
              <div class="h-create_user">
                <%= link_to "新規登録", new_user_registration_path %>
              </div>
              <div class="h-login">
                <%= link_to "ログイン", new_user_session_path %>
              </div>
            <% end %>
        </div>
    </div>
    </header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <div class="body_container">
    <%= yield %>
    </div>
    <footer>
      <div class="footer_container">
        <div class="f-grid">
          <div class="f-grid_right">
            <p class="logo_p">goodea!</p>
            <ul>
              <li>goodea!とは?</li>
            </ul>
          </div>
          <div class="f-grid_left">
            <p class="category_p">カテゴリー</p>
            <div class="categories_list">
              <% @categories.each do |category| %>
                <%= link_to category_path(category.id) do %>
                  <ul>
                    <li><%= category.name %></li>
                  </ul>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  </body>
</html>
