<div class="sign-up_container">
  <h2><%= t('.sign_up') %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.text_field :name, autofocus: true, autocomplete: "ユーザー名",　id: "user_name", placeholder: "ユーザー名" %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
    </div>
<% if f.object.password_required? %>
    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード(確認用)" %>
    </div>
<% end %>
    <div class="actions">
      <%= f.submit t('.sign_up'), id: "sign_up" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
